<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>rnaud</span>
  <div class="spacer"></div>
  <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
    <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
      <rect width="400" height="400" fill="none" />
      <path
        d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
        fill="#fff" />
    </svg>
  </a>



</div>



<!-- Highlight Card -->


<h3 class="d-flex justify-content-center">Neonoos</h3>
<h5 class="d-flex justify-content-center">Json Api Neonoos par Arnaud</h5>



<div class="container">

  <form class="form-inline">
    <input class="form-control mr-sm-2" [(ngModel)]="field" name="field" type="search" placeholder="Search"
      aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="filter()">Search</button>
  </form>

  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <ul class="nav navbar">

      <li class="nav nav-item">
        <button type="button" class="btn btn-primary" (click)="getData()" data-toggle="modal">places</button>

      </li>


      <li class="nav nav-item">


        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">ajouter</button>
      </li>

      <li class="nav nav-item">

        <!-- FORMULAIRE DE post -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajoutez une nouvelle place</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nom:</label>
                    <input type="text" class="form-control" [(ngModel)]="post.name" name="name" placeholder=" Nom">
                  </div>
                  <div class="form-group">

                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Addresse</label>
                    <input type="text" class="form-control" [(ngModel)]="post.address" name="addresse"
                      placeholder="Addresse">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">description:</label>
                    <textarea class="form-control" [(ngModel)]="post.description" name="description"
                      placeholder="description" id="message-text"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Note</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>

                    </select>
                  </div>
                  <label> {{post.name}}</label><br>
                  <label> {{post.address}}</label><br>
                  <label> {{post.description}}</label>

                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                  (click)="annuler()">annuler</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="postData()">Envoyer</button>
              </div>
            </div>
          </div>
        </div>





      </li>



      <li class="nav nav-item">







      </li>

    </ul>



  </nav>




  <div class="container">
    <div class="row">
      <div *ngFor="let place of places" class="col-sm">
        <div class="card" style="width: 70rem;">
          <div class="container">
            <div class="row">
              <div class="col-sm">


                <h5 class="card-title">{{place.attributes.name}}</h5>
                <h6>{{place.id}}</h6>
              </div>
              <div class="col-sm">
                <i class="fa fa-heart">note</i>
                {{place.attributes.rating}}
                /10
              </div>
              <div class="col-sm">

              </div>
            </div>
          </div>


          <div class="card-body">


            <p class="card-text">{{place.attributes.description}}</p>



            <!-- FORMULAIRE DE EDIT -->
            <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier cet endroit?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nom:</label>
                        <input type="text" class="form-control" [(ngModel)]="post.name"
                          placeholder="{{place.attributes.name}}" name="name">
                      </div>
                      <div class="form-group">

                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">Addresse</label>
                        <input type="text" class="form-control" [(ngModel)]="post.address" name="addresse"
                          placeholder="Addresse">
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">description:</label>
                        <textarea class="form-control" [(ngModel)]="post.description" name="description"
                          placeholder="description" id="message-text"></textarea>
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Note</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>

                        </select>
                      </div>
                      <label> {{post.name}}</label><br>
                      <label> {{post.address}}</label><br>
                      <label> {{post.description}}</label>

                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                      (click)="annuler()">annuler</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editData(place.id)"
                      (click)="postData()">modifier</button>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#edit"> edit</button>





            <!-- Confirmation de suppression -->
            <div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Supression d'un endroit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Voulez vous vraiment suprimmer cette endroit??
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">annuler</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Supprimer</button>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmation"
              (click)="delData(place.id)"> delete</button>


          </div>
        </div>
      </div>
      <br>

    </div>
  </div>




</div>








<router-outlet></router-outlet>